.box {

  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 20px;
}

.box .box-header {
  display: flex;
  height: 40px;
  align-items: center;
  border-bottom: 1px solid #ccc;
  background-color: #f6f6f6;
}