.demo-drawer .drawer-wrapper{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
  display: none;
}
.demo-drawer .drawer-wrapper.show{
  display: block;
}
.demo-drawer .drawer-wrapper .drawer-container{
  width: 400px;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fff;
}