.dialog-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  z-index: 99;
}
.dialog{
  width: 40%;
  height: 200px;
  margin: 0 auto;
  margin-top: 15vh;
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
}
.dialog-wrapper h2{
  margin: 0;
}